Library/
Temp/
Logs/
UserSettings/
MemoryCaptures/
Build/
*.csproj
*.sln
*.user
.vscode
Assets/Imported.meta
Assets/Imported/
Assets/Materials.meta
Assets/Materials/
Assets/Prefabs
Assets/Prefabs.meta
Assets/Scenes.meta
Assets/Scenes/
Assets/ML-Agents
Packages
ProjectSettings/
